In [7]:
content = '''<h2>Best-Selling Car Manufacturers in Europe in 2018</h2>
<p>The largest carmakers and marques in the European Union and EFTA in 2018 according to the ACEA 
were as follows:</p><table class="wp-block-table is-style-stripes"><tbody><tr><td>Carmaker</td><td>
<a href="https://www.best-selling-cars.com/europe/2018-full-year-europe-best-selling-car-manufacturers-and-brands/">
FY2018</a></td><td><a href="https://www.best-selling-cars.com/europe/2017-full-year-europe-best-selling-car-manufacturers-and-brands/" 
target="_blank" rel="noreferrer noopener">FY2017</a></td><td>% 17/18</td><td>Share 18</td></tr><tr><td>
EU &amp; EFTA</td><td>15,624,486</td><td>15,630,555</td><td>-0.04</td><td>100</td></tr><tr><td>VW Group</td><td>
3,733,427</td><td>3,717,478</td><td>+0.4</td><td>23.9</td></tr><tr><td>&#8211; VOLKSWAGEN</td><td>1,752,162</td><td>1,706,431</td><td>+2.7</td><td>11.2</td></tr><tr><td>&#8211; AUDI</td><td>724,168</td><td>826,394</td><td>-12.4</td><td>4.6</td></tr><tr><td>&#8211; SKODA</td><td>729,224</td><td>705,232</td><td>+3.4</td><td>4.7</td></tr><tr><td>&#8211; SEAT</td><td>452,372</td><td>401,028</td><td>+12.8</td><td>2.9</td></tr><tr><td>&#8211; PORSCHE</td><td>70,504</td><td>73,397</td><td>-3.9</td><td>0.5</td></tr><tr><td>PSA Group</td><td>2,499,522</td><td>1,885,867</td><td>+32.5</td><td>16.0</td></tr><tr><td>&#8211; PEUGEOT</td><td>971,437</td><td>924,953</td><td>+5.0</td><td>6.2</td></tr><tr><td>&#8211; CITROEN</td><td>598,254</td><td>569,822</td><td>+5.0</td><td>3.8</td></tr><tr><td>&#8211; Opel / Vauxhall (PSA)</td><td>884,412</td><td>345,218</td><td>+156.2</td><td>5.7</td></tr><tr><td>&#8211; DS</td><td>45,419</td><td>45,874</td><td>-1.0</td><td>0.3</td></tr><tr><td>RENAULT Group</td><td>1,641,156</td><td>1,628,702</td><td>+0.8</td><td>10.5</td></tr><tr><td>&#8211; RENAULT</td><td>1,105,778</td><td>1,150,686</td><td>-3.9</td><td>7.1</td></tr><tr><td>&#8211; DACIA</td><td>528,249</td><td>472,816</td><td>+11.7</td><td>3.4</td></tr><tr><td>BMW Group</td><td>1,033,221</td><td>1,043,217</td><td>-1.0</td><td>6.6</td></tr><tr><td>&#8211; BMW</td><td>815,179</td><td>827,755</td><td>-1.5</td><td>5.2</td></tr><tr><td>&#8211; MINI</td><td>218,042</td><td>215,462</td><td>+1.2</td><td>1.4</td></tr><tr><td>FCA Group</td><td>1,021,311</td><td>1,045,074</td><td>-2.3</td><td>6.5</td></tr><tr><td>&#8211; FIAT</td><td>711,285</td><td>779,522</td><td>-8.8</td><td>4.6</td></tr><tr><td>&#8211; JEEP</td><td>168,674</td><td>108,431</td><td>+55.6</td><td>1.1</td></tr><tr><td>&#8211; ALFA ROMEO</td><td>82,939</td><td>85,833</td><td>-3.4</td><td>0.5</td></tr><tr><td>&#8211; LANCIA/CHRYSLER</td><td>48,854</td><td>60,885</td><td>-19.8</td><td>0.3</td></tr><tr><td>FORD</td><td>994,397</td><td>1,018,436</td><td>-2.4</td><td>6.4</td></tr><tr><td>DAIMLER</td><td>970,187</td><td>992,528</td><td>-2.3</td><td>6.2</td></tr><tr><td>&#8211; MERCEDES</td><td>871,221</td><td>893,574</td><td>-2.5</td><td>5.6</td></tr><tr><td>&#8211; SMART</td><td>98,966</td><td>98,954</td><td>+0.0</td><td>0.6</td></tr><tr><td>TOYOTA Group</td><td>760,069</td><td>732,290</td><td>+3.8</td><td>4.9</td></tr><tr><td>&#8211; TOYOTA</td><td>713,374</td><td>686,757</td><td>+3.9</td><td>4.6</td></tr><tr><td>&#8211; LEXUS</td><td>46,695</td><td>45,533</td><td>+2.6</td><td>0.3</td></tr><tr><td>HYUNDAI</td><td>543,292</td><td>523,047</td><td>+3.9</td><td>3.5</td></tr><tr><td>KIA</td><td>494,304</td><td>472,125</td><td>+4.7</td><td>3.2</td></tr><tr><td>NISSAN</td><td>493,862</td><td>566,516</td><td>-12.8</td><td>3.2</td></tr><tr><td>VOLVO CAR CORP.</td><td>320,071</td><td>301,603</td><td>+6.1</td><td>2.0</td></tr><tr><td>JAGUAR LAND ROVER Group</td><td>214,188</td><td>221,039</td><td>-3.1</td><td>1.4</td></tr><tr><td>&#8211; LAND ROVER</td><td>130,369</td><td>151,566</td><td>-14.0</td><td>0.8</td></tr><tr><td>&#8211; JAGUAR</td><td>83,819</td><td>69,473</td><td>+20.6</td><td>0.5</td></tr><tr><td>HONDA</td><td>135,584</td><td>140,418</td><td>-3.4</td><td>0.9</td></tr><tr><td>GM</td><td>3,301</td><td>600,996</td><td>-99.5</td><td>0.0</td></tr><tr><td><a href="http://acea.be" target="_blank" rel="noreferrer noopener">Source: ACEA</a></td></tr></tbody></table>'''

In [8]:
import re

In [136]:
brands = re.findall('(?<=</tr><tr><td>).+?(?=</td><td>)', content)

In [176]:
brands

['EU &amp; EFTA',
 'VW Group',
 '&#8211; VOLKSWAGEN',
 '&#8211; AUDI',
 '&#8211; SKODA',
 '&#8211; SEAT',
 '&#8211; PORSCHE',
 'PSA Group',
 '&#8211; PEUGEOT',
 '&#8211; CITROEN',
 '&#8211; Opel / Vauxhall ',
 '&#8211; DS',
 'RENAULT Group',
 '&#8211; RENAULT',
 '&#8211; DACIA',
 'BMW Group',
 '&#8211; BMW',
 '&#8211; MINI',
 'FCA Group',
 '&#8211; FIAT',
 '&#8211; JEEP',
 '&#8211; ALFA ROMEO',
 '&#8211; LANCIA/CHRYSLER',
 'FORD',
 'DAIMLER',
 '&#8211; MERCEDES',
 '&#8211; SMART',
 'TOYOTA Group',
 '&#8211; TOYOTA',
 '&#8211; LEXUS',
 'HYUNDAI',
 'KIA',
 'NISSAN',
 'VOLVO CAR CORP.',
 'JAGUAR LAND ROVER Group',
 '&#8211; LAND ROVER',
 '&#8211; JAGUAR',
 'HONDA',
 'GM']

In [184]:
brands2 = [brand for brand in brands if 'Group' not in brand and 'EFTA' not in brand]

In [185]:
brands2

['&#8211; VOLKSWAGEN',
 '&#8211; AUDI',
 '&#8211; SKODA',
 '&#8211; SEAT',
 '&#8211; PORSCHE',
 '&#8211; PEUGEOT',
 '&#8211; CITROEN',
 '&#8211; Opel / Vauxhall ',
 '&#8211; DS',
 '&#8211; RENAULT',
 '&#8211; DACIA',
 '&#8211; BMW',
 '&#8211; MINI',
 '&#8211; FIAT',
 '&#8211; JEEP',
 '&#8211; ALFA ROMEO',
 '&#8211; LANCIA/CHRYSLER',
 'FORD',
 'DAIMLER',
 '&#8211; MERCEDES',
 '&#8211; SMART',
 '&#8211; TOYOTA',
 '&#8211; LEXUS',
 'HYUNDAI',
 'KIA',
 'NISSAN',
 'VOLVO CAR CORP.',
 '&#8211; LAND ROVER',
 '&#8211; JAGUAR',
 'HONDA',
 'GM']

In [112]:
content = content.replace('(PSA)','')

In [152]:
import pandas as pd

In [186]:
#gets the lines correctly
columns = ['brand', 'FY2018', 'FY2017', 'delta % 2017/2018', 'share']
df = pd.DataFrame(columns = columns)
cols = dict(zip(range(5), columns))

for row, brand in enumerate(brands2):
    pattern = '(?<='+brand+').+?(?=</tr><tr><td>)' #gets the line following each brand
    #print(pattern)
    df.loc[row, 'brand'] = brand
    line = re.findall(pattern, content)
    numbers = re.findall('(?<=<td>).+?(?=</td>)', line[0]) #gets all the numbers in the line
    numbers = [float(number.replace(',','')) for number in numbers]
    for n in range(len(numbers)):
        df.loc[row,cols[n+1]] = numbers[n]

In [187]:
df

                       brand       FY2018       FY2017 delta % 2017/2018 share
0         &#8211; VOLKSWAGEN  1.75216e+06  1.70643e+06               2.7  11.2
1               &#8211; AUDI       724168       826394             -12.4   4.6
2              &#8211; SKODA       729224       705232               3.4   4.7
3               &#8211; SEAT       452372       401028              12.8   2.9
4            &#8211; PORSCHE        70504        73397              -3.9   0.5
5            &#8211; PEUGEOT       971437       924953                 5   6.2
6            &#8211; CITROEN       598254       569822                 5   3.8
7   &#8211; Opel / Vauxhall        884412       345218             156.2   5.7
8                 &#8211; DS        45419        45874                -1   0.3
9            &#8211; RENAULT  1.10578e+06  1.15069e+06              -3.9   7.1
10             &#8211; DACIA       528249       472816              11.7   3.4
11               &#8211; BMW       815179       827755              -1.5   5.2
12              &#8211; MINI       218042       215462               1.2   1.4
13              &#8211; FIAT       711285       779522              -8.8   4.6
14              &#8211; JEEP       168674       108431              55.6   1.1
15        &#8211; ALFA ROMEO        82939        85833              -3.4   0.5
16   &#8211; LANCIA/CHRYSLER        48854        60885             -19.8   0.3
17                      FORD       994397  1.01844e+06              -2.4   6.4
18                   DAIMLER       970187       992528              -2.3   6.2
19          &#8211; MERCEDES       871221       893574              -2.5   5.6
20             &#8211; SMART        98966        98954                 0   0.6
21            &#8211; TOYOTA       713374       686757               3.9   4.6
22             &#8211; LEXUS        46695        45533               2.6   0.3
23                   HYUNDAI       543292       523047               3.9   3.5
24                       KIA       494304       472125               4.7   3.2
25                    NISSAN       493862       566516             -12.8   3.2
26           VOLVO CAR CORP.       320071       301603               6.1     2
27        &#8211; LAND ROVER       130369       151566               -14   0.8
28            &#8211; JAGUAR        83819        69473              20.6   0.5
29                     HONDA       135584       140418              -3.4   0.9
30                        GM         3301       600996             -99.5     0

In [189]:
df['brand'] = df['brand'].apply(lambda x: x.replace('&#8211; ', ''))

In [190]:
df

               brand       FY2018       FY2017 delta % 2017/2018 share
0         VOLKSWAGEN  1.75216e+06  1.70643e+06               2.7  11.2
1               AUDI       724168       826394             -12.4   4.6
2              SKODA       729224       705232               3.4   4.7
3               SEAT       452372       401028              12.8   2.9
4            PORSCHE        70504        73397              -3.9   0.5
5            PEUGEOT       971437       924953                 5   6.2
6            CITROEN       598254       569822                 5   3.8
7   Opel / Vauxhall        884412       345218             156.2   5.7
8                 DS        45419        45874                -1   0.3
9            RENAULT  1.10578e+06  1.15069e+06              -3.9   7.1
10             DACIA       528249       472816              11.7   3.4
11               BMW       815179       827755              -1.5   5.2
12              MINI       218042       215462               1.2   1.4
13              FIAT       711285       779522              -8.8   4.6
14              JEEP       168674       108431              55.6   1.1
15        ALFA ROMEO        82939        85833              -3.4   0.5
16   LANCIA/CHRYSLER        48854        60885             -19.8   0.3
17              FORD       994397  1.01844e+06              -2.4   6.4
18           DAIMLER       970187       992528              -2.3   6.2
19          MERCEDES       871221       893574              -2.5   5.6
20             SMART        98966        98954                 0   0.6
21            TOYOTA       713374       686757               3.9   4.6
22             LEXUS        46695        45533               2.6   0.3
23           HYUNDAI       543292       523047               3.9   3.5
24               KIA       494304       472125               4.7   3.2
25            NISSAN       493862       566516             -12.8   3.2
26   VOLVO CAR CORP.       320071       301603               6.1     2
27        LAND ROVER       130369       151566               -14   0.8
28            JAGUAR        83819        69473              20.6   0.5
29             HONDA       135584       140418              -3.4   0.9
30                GM         3301       600996             -99.5     0

In [191]:
df['brand'].unique()

array(['VOLKSWAGEN', 'AUDI', 'SKODA', 'SEAT', 'PORSCHE', 'PEUGEOT',
       'CITROEN', 'Opel / Vauxhall ', 'DS', 'RENAULT', 'DACIA', 'BMW',
       'MINI', 'FIAT', 'JEEP', 'ALFA ROMEO', 'LANCIA/CHRYSLER', 'FORD',
       'DAIMLER', 'MERCEDES', 'SMART', 'TOYOTA', 'LEXUS', 'HYUNDAI',
       'KIA', 'NISSAN', 'VOLVO CAR CORP.', 'LAND ROVER', 'JAGUAR',
       'HONDA', 'GM'], dtype=object)

In [197]:
groups = {'VW Group': ['VOLKSWAGEN', 'AUDI', 'SKODA', 'SEAT', 'PORSCHE'], 'PSA':['PEUGEOT',
       'CITROEN', 'Opel / Vauxhall ', 'DS'], 'Renault-Nissan':['RENAULT', 'DACIA', 'NISSAN'], 'BMW Group':['BMW',
       'MINI'], 'FCA':['FIAT', 'JEEP', 'ALFA ROMEO', 'LANCIA/CHRYSLER'], 'Ford':['FORD'],
       'Daimler Group': ['DAIMLER', 'MERCEDES', 'SMART'], 'Toyota':['TOYOTA', 'LEXUS'], 'Hyundai-Kia':['HYUNDAI',
       'KIA'], 'Volvo':['VOLVO CAR CORP.'], 'JLR Group': ['LAND ROVER', 'JAGUAR'],
       'Honda':['HONDA'], 'GM':['GM']}

In [206]:
group_list = [(key, value) for key, value in groups.items()]

In [210]:
brand_groups = dict()
for group in group_list:
    for brand in group[1]:
        brand_groups[brand] = group[0]

In [211]:
brand_groups

{'VOLKSWAGEN': 'VW Group',
 'AUDI': 'VW Group',
 'SKODA': 'VW Group',
 'SEAT': 'VW Group',
 'PORSCHE': 'VW Group',
 'PEUGEOT': 'PSA',
 'CITROEN': 'PSA',
 'Opel / Vauxhall ': 'PSA',
 'DS': 'PSA',
 'RENAULT': 'Renault-Nissan',
 'DACIA': 'Renault-Nissan',
 'NISSAN': 'Renault-Nissan',
 'BMW': 'BMW Group',
 'MINI': 'BMW Group',
 'FIAT': 'FCA',
 'JEEP': 'FCA',
 'ALFA ROMEO': 'FCA',
 'LANCIA/CHRYSLER': 'FCA',
 'FORD': 'Ford',
 'DAIMLER': 'Daimler Group',
 'MERCEDES': 'Daimler Group',
 'SMART': 'Daimler Group',
 'TOYOTA': 'Toyota',
 'LEXUS': 'Toyota',
 'HYUNDAI': 'Hyundai-Kia',
 'KIA': 'Hyundai-Kia',
 'VOLVO CAR CORP.': 'Volvo',
 'LAND ROVER': 'JLR Group',
 'JAGUAR': 'JLR Group',
 'HONDA': 'Honda',
 'GM': 'GM'}

In [214]:
for row in range(df.shape[0]):
   df.loc[row, 'group'] = brand_groups[df.loc[row,'brand']]

In [220]:
df.sort_values(by = 'brand').reset_index().drop('index', axis = 1, inplace = True)

In [227]:
df.drop(18, axis = 0, inplace = True) #error: DAIMLER is actually "Daimler Group"

In [228]:
df

,brand,FY2018,FY2017,delta % 2017/2018,share,group
0,VOLKSWAGEN,1.75216e+06,1.70643e+06,2.7,11.2,VW Group
1,AUDI,724168,826394,-12.4,4.6,VW Group
2,SKODA,729224,705232,3.4,4.7,VW Group
3,SEAT,452372,401028,12.8,2.9,VW Group
4,PORSCHE,70504,73397,-3.9,0.5,VW Group
5,PEUGEOT,971437,924953,5,6.2,PSA
6,CITROEN,598254,569822,5,3.8,PSA
7,Opel / Vauxhall,884412,345218,156.2,5.7,PSA
8,DS,45419,45874,-1,0.3,PSA
9,RENAULT,1.10578e+06,1.15069e+06,-3.9,7.1,Renault-Nissan
10,DACIA,528249,472816,11.7,3.4,Renault-Nissan
11,BMW,815179,827755,-1.5,5.2,BMW Group
12,MINI,218042,215462,1.2,1.4,BMW Group
13,FIAT,711285,779522,-8.8,4.6,FCA
14,JEEP,168674,108431,55.6,1.1,FCA
15,ALFA ROMEO,82939,85833,-3.4,0.5,FCA
16,LANCIA/CHRYSLER,48854,60885,-19.8,0.3,FCA
17,FORD,994397,1.01844e+06,-2.4,6.4,Ford
19,MERCEDES,871221,893574,-2.5,5.6,Daimler Group
20,SMART,98966,98954,0,0.6,Daimler Group
21,TOYOTA,713374,686757,3.9,4.6,Toyota
22,LEXUS,46695,45533,2.6,0.3,Toyota
23,HYUNDAI,543292,523047,3.9,3.5,Hyundai-Kia
24,KIA,494304,472125,4.7,3.2,Hyundai-Kia
25,NISSAN,493862,566516,-12.8,3.2,Renault-Nissan
26,VOLVO CAR CORP.,320071,301603,6.1,2,Volvo
27,LAND ROVER,130369,151566,-14,0.8,JLR Group
28,JAGUAR,83819,69473,20.6,0.5,JLR Group
29,HONDA,135584,140418,-3.4,0.9,Honda
30,GM,3301,600996,-99.5,0,GM

In [229]:
df.groupby('group').agg({'FY2018':'sum', 'FY2017':'sum'}).sort_values('FY2018', ascending = False)

                   FY2018     FY2017
group
VW Group        3728430.0  3712482.0
PSA             2499522.0  1885867.0
Renault-Nissan  2127889.0  2190018.0
Hyundai-Kia     1037596.0   995172.0
BMW Group       1033221.0  1043217.0
FCA             1011752.0  1034671.0
Ford             994397.0  1018436.0
Daimler Group    970187.0   992528.0
Toyota           760069.0   732290.0
Volvo            320071.0   301603.0
JLR Group        214188.0   221039.0
Honda            135584.0   140418.0
GM                 3301.0   600996.0